{% extends 'front_base.html' %}

{% block content %}
	<div id="content" class="txt-middle">
	  <div class="container">
	    <div class="row">
		  <div class="span12">
		    <div class="well well-form txt-lefty">
              <h3>Zmień hasło</h3>

                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-error">
                          <strong>Błąd: </strong>{{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
              <p>Wpisz adres e-mail, z którego obecnie korzystasz w bazie absolwentów. Na podany adres wyślemy instrukcję zmiany hasła.</p>
   			  <form action="{% url 'password_reset' %}" method="POST">
                {% csrf_token %}
		        <div class="control-group">
		          <div class="controls">
                                      {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <p class="alert alert-error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
			        <div class="input-prepend">
			          <span class="add-on"><i class="glyphicons-e-mail"></i></span>
                      <input id="{{ form.email.id_for_label }}" maxlength="254" name="email" type="email" aria-invalid="false" placeholder="Adres e-mail" class="span3">
			        </div>
				  </div>
			    </div>
                <div class="form-actions">
			      <button class="btn btn-primary" type="submit">Kontynuuj</button>
                </div>
              </form>
            </div>
		  </div>
		</div>
    </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}