{% load thumbnail %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <title>Analytics Dashboard &middot; MVP Ready Admin</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
  <!-- Google Font: Open Sans -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700">
 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/mvpready/bootstrap.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/datepicker.css">

  <!-- App CSS -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/mvpready-admin.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/mvpready-flat.css">
  <!-- <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">-->

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
<script id="profile-template" type="text/template">

</script>
</head>

<body>

<div id="wrapper">

  <header class="navbar navbar-inverse" role="banner">

    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-cog"></i>
        </button>

        <a href="{{ STATIC_URL }}" class="navbar-brand" style="font-weight: 200; margin-top: 4px;font-size:20px;">
            <i class="fa fa-book" style="margin-right: 5px;"></i> 
            Absolwenci V LO
        </a>
      </div> <!-- /.navbar-header -->


      <nav class="collapse navbar-collapse" role="navigation" style="position: relative">

        <ul class="nav navbar-nav noticebar navbar-left">
          <li class="dropdown">
            <a href="javascript;;" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell"></i>
              <span class="navbar-visible-collapsed">&nbsp;Powiadomienia&nbsp;</span>
{#              <span class="badge badge-primary">3</span>#}
            </a>

            <ul class="dropdown-menu noticebar-menu noticebar-hoverable" role="menu">

              <li class="nav-header">
                <div class="pull-left">
                  Powiadomienia
                </div>

                <div class="pull-right">
                  <a href="javascript:;">Oznacz jako przeczytane</a>
                </div>
              </li>

              <li class="noticebar-empty">
                <h4 class="noticebar-empty-title">Brak powiadomień.</h4>
                <p class="noticebar-empty-text">Sprawdź o czym dysktuje społeczność oraz odkrywaj co robią koledzy z czasów liceum!</p>
              </li>
            </ul>
          </li>



          <li class="dropdown">
            <a href=";javascript;;"class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope"></i>
              <span class="navbar-visible-collapsed">&nbsp;Wiadomości&nbsp;</span>
            </a>

            <ul class="dropdown-menu noticebar-menu noticebar-hoverable" role="menu">                
              <li class="nav-header">
                <div class="pull-left">
                  Wiadomości
                </div>

              <li class="noticebar-empty">
                <h4 class="noticebar-empty-title">Brak wiadomości.</h4>
                <p class="noticebar-empty-text">Nie wysłałeś z nikim żadnej wiadomości.</p>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-exclamation-triangle"></i>
              <span class="navbar-visible-collapsed">&nbsp;Alerts&nbsp;</span>
            </a>

            <ul class="dropdown-menu noticebar-menu noticebar-hoverable" role="menu">                
              <li class="nav-header">
                <div class="pull-left">
                  Przypomnienia
                </div>
              </li>

              <li class="noticebar-empty">                  
                <h4 class="noticebar-empty-title">Brak przypomnień.</h4>
                <p class="noticebar-empty-text">Sprawdź o czym dysktuje społeczność oraz odkrywaj co robią koledzy z czasów liceum!</p>
              </li>
            </ul>
          </li>

        </ul>

      <form class="navbar-form navbar-left" id="search" role="search" style="margin-top:12px;margin-left:5px;">

      </form>

        <ul class="nav navbar-nav navbar-right">    

          <li>
            <a href="javsacript:;">Twoja opinia</a>
          </li>

          <li class="dropdown navbar-profile">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
              {% if request.user.person.picture %}
              <img src="{{ request.user.person.picture|thumbnail_url:"thumbnail" }}" class="navbar-profile-avatar" alt="">
                {% else %}
              <img src="/media/unknown.png" class="navbar-profile-avatar" alt="avatar">
                {% endif %}
              <span class="navbar-profile-label">rod@rod.me &nbsp;</span>
              <i class="fa fa-caret-down"></i>
            </a>

            <ul class="dropdown-menu" role="menu">

              <li>
                <a href="#/person/{{ request.user.person.pk }}">
                  <i class="fa fa-user"></i> 
                  &nbsp;&nbsp;Mój profil
                </a>
              </li>

              <li>
                <a href="{{ STATIC_URL }}page-settings.html">
                  <i class="fa fa-cogs"></i> 
                  &nbsp;&nbsp;Ustawienia
                </a>
              </li>

              <li class="divider"></li>

              <li>
                <a href="{% url 'logout' %}">
                  <i class="fa fa-sign-out"></i> 
                  &nbsp;&nbsp;Wyloguj
                </a>
              </li>

            </ul>

          </li>

        </ul>
        <div id="search-results" style="position: absolute; width: 300px; margin-left: 357px; margin-top: 47px; background: white; border: 1px solid #2f4354;"></div>

      </nav>

    </div> <!-- /.container -->
  </header>

  <div class="mainnav">

    <div class="container">

      <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </a>

      <nav class="collapse mainnav-collapse" role="navigation">

        <ul class="mainnav-menu">

          <li class="dropdown active">
          	<a href="#/" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          	Społeczność
          	<i class="mainnav-caret"></i>
          	</a>

          	<ul class="dropdown-menu" role="menu">
              <li>
                <a href="#/">
                <i class="fa fa-globe"></i>
                &nbsp;&nbsp;Mapa absolwentów
                </a>
              </li>

              <li>
                <a href="#/community">
                <i class="fa fa-graduation-cap"></i>
                &nbsp;&nbsp;Szkoła
                </a>
              </li>

              <li>
                <a href="#/teachers">
                <i class="fa fa-group"></i>
                &nbsp;&nbsp;Nauczyciele
                </a>
              </li>
          	</ul>
          </li>


          <li class="dropdown ">
            <a href="javascript:;">Dyskusja</a>
          </li>


          <li class="dropdown ">
            <a href="#/group/{{ request.user.person.group.pk }}">Moja klasa</a>
          </li>


          <li class="dropdown ">

            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            Galeria
            <i class="mainnav-caret"></i>
            </a>

            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{{ STATIC_URL }}page-notifications.html">
                <i class="fa fa-bell"></i> 
                &nbsp;&nbsp;Notifications
                </a>
              </li>			

              <li>
                <a href="{{ STATIC_URL }}extras-icons.html">
                <i class="fa fa-smile-o"></i> 
                &nbsp;&nbsp;Font Icons
                </a>
              </li> 

              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">
                <i class="fa fa-ban"></i> 
                &nbsp;&nbsp;Error Pages
                </a>

                <ul class="dropdown-menu">
                  <li>
                    <a href="{{ STATIC_URL }}page-404.html">
                    <i class="fa fa-ban"></i> 
                    &nbsp;&nbsp;404 Error
                    </a>
                  </li>

                  <li>
                    <a href="{{ STATIC_URL }}page-500.html">
                    <i class="fa fa-ban"></i> 
                    &nbsp;&nbsp;500 Error
                    </a>
                  </li>
                </ul>
              </li>

              <li class="dropdown-submenu">

                <a tabindex="-1" href="#">
                <i class="fa fa-lock"></i> 
                &nbsp;&nbsp;Login Pages
                </a>

                <ul class="dropdown-menu">
                  <li>
                    <a href="{{ STATIC_URL }}account-login.html">
                    <i class="fa fa-unlock"></i> 
                    &nbsp;&nbsp;Login
                    </a>
                  </li>

                  <li>
                    <a href="{{ STATIC_URL }}account-login-social.html">
                    <i class="fa fa-unlock"></i> 
                    &nbsp;&nbsp;Login Social
                    </a>
                  </li>

                  <li>
                    <a href="{{ STATIC_URL }}account-signup.html">
                    <i class="fa fa-star"></i> 
                    &nbsp;&nbsp;Signup
                    </a>
                    </li>

                  <li>
                    <a href="{{ STATIC_URL }}account-forgot.html">
                    <i class="fa fa-envelope"></i> 
                    &nbsp;&nbsp;Forgot Password
                    </a>
                  </li>
                </ul>
              </li> 


            </ul>

          </li>
        </ul>

      </nav>
        <h4 style="margin-top: 25px; float: right;">{{ members_count }} zarejestrowanych</h4>

    </div> <!-- /.container -->

  </div> <!-- /.mainnav -->

  <div class="content">

    <div class="container" id="content">


    </div> <!-- /.container -->


  </div> <!-- .content -->
</div> <!-- /#wrapper -->

<footer class="footer">
  <div class="container">
    <p class="pull-left">Copyright &copy; 2013 MVP Ready.</p>
  </div>
</footer>

<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script type="text/javascript">
{#  function LeafletMap(options) {#}
{#    this.markers = [];#}
{#    this.onMarkerClick = options.onMarkerClick;#}
{#    this.map = new L.Map(options.name);#}
{#    this.osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';#}
{#    this.mbUrl = 'https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png';#}
{#    this.mblayer = new L.TileLayer(this.mbUrl, {id: 'examples.map-i875mjb7'});#}
{##}
{#    this.osm = new L.TileLayer(this.osmUrl, { minZoom: options.minZoom, maxZoom: options.maxZoom });#}
{#    this.map.setView(new L.LatLng(options.x, options.y), options.zoom);#}
{#    this.map.addLayer(this.mblayer);#}
{#  }#}
{##}
{#  LeafletMap.prototype.addCity = function(city) {#}
{#    var marker = L.marker([city.get('x'), city.get('y')]).addTo(this.map);#}
{#    marker.on('click', function() { #}
{#      this.onMarkerClick(city);#}
{#    }.bind(this));#}
{#    this.markers.push(marker);#}
{#  }#}
{##}
{#  var map = new LeafletMap({#}
{#    name: "map",#}
{#    minZoom: 2,#}
{#    maxZoom: 12,#}
{#    x: 51.8,#}
{#    y: 19.3,#}
{#    zoom: 5,#}
{##}
{#    onMarkerClick: function(city) {#}
{#      App.cityArea.show(new City.Views.Element({ model: city }));#}
{#    }#}
{#  });#}

</script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Core JS -->
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script src="{{ STATIC_URL }}js/libs/jquery-1.11.2.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/noty/packaged/jquery.noty.packaged.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>

<!--[if lt IE 9]>
<script src="{{ STATIC_URL }}js/libs/excanvas.compiled.js"></script>
<![endif]-->

<!-- Plugin JS -->
<script src="{{ STATIC_URL }}js/plugins/flot/jquery.flot.js"></script>
<script src="{{ STATIC_URL }}js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="{{ STATIC_URL }}js/plugins/flot/jquery.flot.pie.js"></script>
<script src="{{ STATIC_URL }}js/plugins/flot/jquery.flot.resize.js"></script>

<!-- App JS -->
<script src="{{ STATIC_URL }}js/mvpready-core.js"></script>
<script src="{{ STATIC_URL }}js/mvpready-admin.js"></script>

<!-- Core JS -->
<script src="{{ STATIC_URL }}js/libs/bootstrap-datepicker.js"></script>
<script src="{{ STATIC_URL }}js/libs/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}js/libs/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/libs/handlebars-v3.0.0.js"></script>
<script src="{{ STATIC_URL }}js/libs/backbone-min.js"></script>
<script src="{{ STATIC_URL }}js/libs/deep-model.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/backbone-forms.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/backbone.wreqr.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/backbone.babysitter.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/backbone.marionette.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/moment-with-locales.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap3-typeahead.min.js"></script>

<script src="{{ STATIC_URL }}js/routing.js"></script>
<script src="{{ STATIC_URL }}js/routes.js"></script>
<script src="{{ STATIC_URL }}js/utils.js"></script>
<script src="{{ STATIC_URL }}js/handlebars.js"></script>


<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<script src="{{ STATIC_URL }}js/config.js"></script>
<script src="{{ STATIC_URL }}js/forms/editors/month.js"></script>

<script src="{{ STATIC_URL }}js/commands/base.js"></script>
<script src="{{ STATIC_URL }}js/commands/profile.js"></script>
<script src="{{ STATIC_URL }}js/commands/city.js"></script>
<script src="{{ STATIC_URL }}js/commands/community.js"></script>


<!-- Models -->
<script src="{{ STATIC_URL }}js/models/profile.js"></script>
<script src="{{ STATIC_URL }}js/models/community.js"></script>
<script src="{{ STATIC_URL }}js/models/search.js"></script>

<!-- Forms -->
<script src="{{ STATIC_URL }}js/forms/profile.js"></script>
<script src="{{ STATIC_URL }}js/forms/community.js"></script>
<script src="{{ STATIC_URL }}js/forms/search.js"></script>

<!-- Views -->
<script src="{{ STATIC_URL }}js/views/basic/map.js"></script>
<script src="{{ STATIC_URL }}js/views/layout/root.js"></script>
<script src="{{ STATIC_URL }}js/views/layout/profile.js"></script>
<script src="{{ STATIC_URL }}js/views/layout/community.js"></script>
<script src="{{ STATIC_URL }}js/views/layout/exception.js"></script>
<script src="{{ STATIC_URL }}js/views/item/profile.js"></script>
<script src="{{ STATIC_URL }}js/views/item/community.js"></script>
<script src="{{ STATIC_URL }}js/views/item/search.js"></script>
<script src="{{ STATIC_URL }}js/views/collection/profile.js"></script>
<script src="{{ STATIC_URL }}js/views/collection/community.js"></script>
<script src="{{ STATIC_URL }}js/views/collection/search.js"></script>


<!-- Controllers -->
<script src="{{ STATIC_URL }}js/controllers/profile.js"></script>
<script src="{{ STATIC_URL }}js/controllers/community.js"></script>

<!-- Routers -->
<script src="{{ STATIC_URL }}js/routers/profile.js"></script>
<script src="{{ STATIC_URL }}js/routers/community.js"></script>
<script src="{{ STATIC_URL }}js/routers/discussion.js"></script>
<script src="{{ STATIC_URL }}js/routers/common.js"></script>

<script src="{{ STATIC_URL }}js/app.js"></script>


</body>
</html>