{% extends 'front_base.html' %}

{% block header %}
<div id="header">
    <div class="container">
	    <div class="row">
            <div class="span12">
                <h1>Rejestracja sympatyka V LO</h1>
            </div>
		</div>
    </div>
</div>
  {% endblock %}

{% block content %}
<div id="content" class="txt-middle">
  <div class="container">
      <div class="row">
        <div class="span12">
              <div class="container well">
                <div class="row">
                  <div class="span12 txt-middle">
                    <h3>Twój e-mail został wpisany do naszej bazy. Dziękujemy!</h3>
                  </div>
                </div>
              </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}