{% extends 'front_base.html' %}
{% load fieldtype %}

{% block header %}
<div id="header">
    <div class="container">
	    <div class="row">
            <div class="span12">
                <h1>Jubileusz XXV-lecia liceum</h1>
            </div>
		</div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="content">
  <div class="container">
        {% if messages %}
        <div class="row">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
      {% endif %}
      <div class="row">
        <div class="span7" style="line-height: 25px;">
            <h2>Uroczystość</h2>
            <p><strong>Komitet Organizacyjny</strong> obchodów XXV-lecia V Liceum Ogólnokształcącego w Bielsku-Białej ma zaszczyt zaprosić
                na Jubileusz szkoły w dniu <strong>17 października 2015 roku</strong>.</p>
            <p>
                Obchody prgagniemy rozpocząć mszą ekumeniczną w kościele św. Mikołaja o godzinie 9.00, by następnie spotkać się w <strong>Teatrze
                Polskim o godzinie 11.00</strong>. Po części oficjalnej spotkania absolwentów w budynku szkoły do godziny 20.00</p>
            <p>
                Jeżeli chcesz wziąć udział w uroczystości zaznacz swoją obecność poprzez wypełnienie formularza rejestracji.
            </p>
            <br />
            <h2>Upominki dla absolwentów</h2>
            <p>Czy chciałbyś podczas uroczystości otrzymać upominki? W tym celu zaznacz tę opcję w formularzu rejestracji, a następnie
            wpłać kwotę 30 zł na konto <strong>Szkolnej Rady Rodziców</strong>.</p>
            <p><strong>Dane konta bankowego Szkolnej Rady Rodziców</strong> <br />
                32 1020 1390 0000 6302 0018 3061 <br />
            Szkolna Rada Rodziców  V Liceum Ogólnokształcące <br />
            ul. Józefa Lompy 10 <br />
            43-300 Bielsko-Biała
            </p>
            <br />
            <h2>Kontakt ze szkołą</h2>
            <p>W przypadku problemów z wysłaniem formularza lub pytań dotyczących uroczystości skontaktuj się z sekretariatem szkoły.</p>
            <p>Telefon do sekretariatu: (33) 822-18-09</p>
            <p>E-mail: biuro@lo5.bielsko.pl </p>
        </div>
        <div class="span5">
          <div class="well well-form txt-lefty" style="margin-top:30px; min-height: 200px;">
            <h3>Rejestracja została zakończona</h3>
              <h4>Przyjęliśmy ponad 185 zgłoszeń.</h4>
              <br />
              <h4>Dziękujemy.</h4>
        </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}