{% extends 'front_base.html' %}

        {% block header %}
    <div id="landing">
	  <div class="container">
	    <div class="row">
		  <div class="span5">
		    <h1 style="font-size: 35px">Witaj w portalu absolwentów!</h1>	
			<p style="line-height: 25px; text-indent: 4%">
                Zarejestruj się, żeby pozostać w kontakcie z "Piątką". Przez portal możesz otrzymywać informacje o tym, co dzieje się w szkole, odnaleźć innych "Piątkowiczów" na mapie, oraz "dać się odnaleźć" i potencjalnie służyć wiedzą i doświadczeniem dyrekcji, absolwentom, oraz kolejnym pokoleniom uczniów.
			</p>
		    <p><a href="{% url 'registration' %}" class="btn btn-primary btn-action">Zarejestruj się</a></p>
		  </div>
		  <div class="span7">
            <div id="graduatesCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <img src="{{ STATIC_URL }}img/slide1.jpeg" alt="...">
                </div>
                <div class="item">
                  <img src="{{ STATIC_URL }}img/slide2.jpeg" alt="...">
                </div>
                <div class="item">
                  <img src="{{ STATIC_URL }}img/slide4.jpg" alt="...">
                </div>
                <div class="item">
                  <img src="{{ STATIC_URL }}img/slide3.jpeg" alt="...">
                </div>
                <div class="item">
                  <img src="{{ STATIC_URL }}img/slide5.jpg" alt="...">
                </div>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#graduatesCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#graduatesCarousel" data-slide="next">&rsaquo;</a>
            </div>
		  </div>
		</div>
      </div>
    </div>
          {% endblock %}

{% block content %}
    	<div id="content" class="txt-middle">
	  <div class="container">
<div class="row">
  <div class="span12">
    <h2>Wirtualna społeczność Piątki</h2>
    <hr class="dashed">
  </div>
</div>
<div class="row">
  <div class="span4 bouncy">
    <div class="icon_wrapper">
      <i class="glyphicons-globe animated"></i>
    </div>
    <h2>Idea portalu</h2>
    <p>
        Zarówno szkoła, jak i każdy z nas z osobna może więcej będąc w aktywnej społeczności absolwentów. W odróżnieniu od powszechnych mediów społecznościowych, Portal absolwentów jest prywatny, nieskomplikowany i skupiony wyłącznie wokół naszej szkoły.
    </p>
  </div>
  <div class="span4 bouncy">
    <div class="icon_wrapper">
      <i class="glyphicons-envelope animated"></i>
    </div>
    <h2>Kontakt ze szkołą</h2>
    <p>
        Jeżeli Twoje konto nie jest jeszcze aktywne, zarejestruj się aby pozostać w kontakcie ze szkołą. Jeżeli jesteś sympatykiem V LO, <a href="#sympatyk">zarejestruj się jako Sympatyk V LO</a> aby otrzymywać informacje o działalności szkoły.
    </p>
  </div>
  <div class="span4 bouncy">
    <div class="icon_wrapper">
      <i class="glyphicons-lock animated"></i>
    </div>
    <h2>Bezpieczeństwo</h2>
    <p> Bezpieczeństwo jest priorytetem Portalu: nikt spoza Portalu nie ma wglądu w Twoje dane, sam/a decydujesz czy chcesz się dzielić nimi z kimś poza dyrekcją, a żadna z podstron nie jest indeksowana przez silniki wyszukiwania. Strona wykorzystuje pliki cookies.</p>
  </div>
</div>
<hr class="dashed">
<div class="row">
  <div class="span4">
    <a class="thumbnail" href="">
      <img alt="image" src="{{ STATIC_URL }}img/first.jpg">
    </a>
  </div>
  <div class="span4">
    <a class="thumbnail" href="">
      <img alt="image" src="{{ STATIC_URL }}img/third.jpeg">
    </a>

  </div>
  <div class="span4">
    <a class="thumbnail" href="">
      <img alt="image" src="{{ STATIC_URL }}img/second.jpeg">
    </a>
  </div>

</div>
          </div></div>

{% endblock %}