{% load staticfiles %}
{% load current from navigation %}
{% load subscription from guests %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Absolwenci V Liceum Ogólnokształcącego</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/glyphicons.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/blue.css" rel="stylesheet">
	
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
  </head>  

  <body>

	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>		
          <a class="brand" href="/"><i class="glyphicons-book" style="margin-right: 6px;"></i>  Absolwenci V LO</a>
		  <div class="nav-collapse collapse">
            <ul class="nav pull-right animated">
			  <li class=""><a role="button" href="/">Start</a></li>
			  <li class="{% current 'login' %}"><a href="{% url 'login' %}">Logowanie</a></li>
			  <li class="{% current 'registration' %}"><a href="{% url 'registration' %}">Rejestracja</a></li>
              <li class="{% current 'faq' %}"><a href="{% url 'faq' %}">FAQ</a></li>
			  <li><a href="#">Kontakt</a></li>
            </ul>
		  </div>
        </div>
      </div>
    </div>	

    {% block header %}{% endblock %}

    {% block headline %}{% endblock %}


        {% block content %}{% endblock %}

 {% block footer %}
	<div id="footer">
	  <div class="container">
	    <div class="row">
		  <div class="span3">
			<h3>Menu</h3>
			<ul class="animated">
			  <li><a href="/">Start</a></li>
			  <li><a href="{% url 'login' %}">Logowanie</a></li>
			  <li><a href="{% url 'registration' %}">Rejestracja</a></li>
			  <li><a href="{% url 'faq' %}">FAQ</a></li>
			  <li><a href="#">Kontakt</a></li>
			</ul>
		  </div>
		  <div class="span3">		
			<h3>V LO</h3>
			<ul class="animated">
			  <li><a href="http://lo5.bielsko.pl">Strona szkoły</a></li>
			</ul>
		  </div>
		  <div class="span3">
			<h3>Media</h3>
			<ul class="animated">
			  <li><a href="https://www.facebook.com/vlo.bielsko?fref=ts">Facebook</a></li>
			  <li><a href="https://www.facebook.com/25latVLO?fref=ts">XXV-lecie liceum</a></li>
			</ul>
		  </div>
		  <div class="span3">
			<h3>Sympatycy</h3>
			<p>Jeżeli jesteś symatykiem V LO, wpisz swój email aby otrzymywać informacje od szkoły.</p>
            {% subscription %}
		  </div>		  
		</div>	  
      </div>	  
    </div>

	<div id="copywrite">
	  <div class="container">
	    <div class="row">
		  <div class="span12">
		    <p>&copy; 2015 V Liceum Ogólnokształcące<span id="totop" class="pull-right">Przewiń do góry <i class="icon-arrow-up icon-white"></i></span></p>			
		  </div>		  
		</div>	  
      </div>	  
    </div>
{% endblock %}
    <script src="{{ STATIC_URL }}js/jquery-1.11.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.fitvids.js"></script>
	<script src="{{ STATIC_URL }}js/jqBootstrapValidation.js"></script>
	<script src="{{ STATIC_URL }}js/bounce.js"></script>
    <script type="text/javascript">
        $('.carousel').carousel();
    </script>
  </body>
</html>