 <div class="error-container">

    <div class="error-code">
    403
    </div> <!-- /.error-code -->

    <div class="error-details">

      <h4>Ups, <span class="text-primary">Dostęp zabroniony</span>.</h4>

      <p></p>

    </div> <!-- /.error-details -->

  </div> <!-- /.error -->
