<div class="row">
    <div class="col-md-9">
        <div style="float:left; padding-top:7px;"><strong>{{ name }}: </strong></div>
        <div data-editors="value" style="width: 40%; float:left; margin-left: 10px;"></div>
        <div data-editors="is_public" style="width: 30%; float:left; margin-left: 10px;"></div>
    </div>
    <div class="col-md-3">
        <a class="save btn btn-default"><i class="fa fa-check"></i> Zapisz</a>
        <a class="cancel btn btn-default"><i class="fa fa-times"></i> Anuluj</a>
    </div>
</div>
<hr />