  <div class="layout layout-main-right layout-stack-sm">

        <div class="col-md-3 col-sm-4 layout-sidebar">

          <div class="nav-layout-sidebar-skip">
            <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a>
          </div>

          <ul id="myTab" class="nav nav-layout-sidebar nav-stacked" style="min-height: 350px;">
              <li>
              <a href="#/profile/edit">
              <i class="fa fa-user"></i>
              &nbsp;&nbsp;Ustawienia profilu
              </a>
            </li>

            <li class="active">
              <a href="#/profile/change-password">
              <i class="fa fa-lock"></i>
              &nbsp;&nbsp;Zmiana hasła
              </a>
            </li>
          </ul>
        </div> <!-- /.col -->

        <div class="col-md-9 col-sm-8 layout-main">

          <div id="settings-content" class="tab-content stacked-content">

            <div class="tab-pane fade in active" id="profile-tab">
                <div id="change-password-form"></div>
            </div>

          </div>
        </div>
  </div>