<div class="layout layout-stack-sm layout-main-left">

        <div class="layout-main">

          <div class="portlet">
            <div class="portlet-body">
              <div class="portlet row" style="margin-bottom: 0">

                <h3 class="portlet-title">
                  <u>Uczniowie</u>
                </h3>

                <div id="students" class="portlet-body" style="margin-bottom: 30px;">

                </div>

            </div>
            <div class="portlet row">

                <h3 class="portlet-title">
                  <u>Absolwenci</u>
                </h3>

                <div class="portlet-body">
                    <div id="graduates"></div>
                </div>
            </div>

          </div>
        </div>
    </div>
</div>