<div class="row">
    <div class="col-md-8" style="margin-bottom: 30px;">
        <h5>Jak mnie znaleźć (profile facebook, LinkedIn, Twitter) / komentarze / uściślenia / zażalenia</h5>
        <div data-editors="description" style="margin-bottom: 10px;"></div>
        <a class="save btn btn-default"><i class="fa fa-check"></i> Zapisz</a>
        <a class="cancel btn btn-default"><i class="fa fa-times"></i> Anuluj</a>
    </div>
</div>