<div class="row">
    <div class="col-md-4">
         <div class="profile-avatar">
            {{#if picture }}
            <img src="{{ picture }}" class="profile-avatar-img thumbnail" style="width:256px; height:256px;" alt="Profile Image">
            {{else}}
            <img src="media/unknown.png" class="profile-avatar-img thumbnail" style="width:256px; height: 256px;" alt="Profile Image">
            {{/if}}
        </div> <!-- /.profile-avatar -->
    </div>
    <div class="col-md-3">
          <h3>{{ first_name }} {{ last_name }}</h3>
    </div>
</div>