<div class="row">
    <div class="col-md-10">
        <p>
            {{#if description }}
            {{ description }}
            {{else}}
                Brak opisu.
            {{/if}}
        </p>
    </div>
    <div class="col-md-2">
        <a class="btn btn-default edit"><i class="fa fa-edit"></i> Edytuj</a>
    </div>
</div>
<br />