  <div class="layout layout-main-right layout-stack-sm">

        <div class="col-md-3 col-sm-4 layout-sidebar">

          <div class="nav-layout-sidebar-skip">
            <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a>
          </div>

          <ul id="myTab" class="nav nav-layout-sidebar nav-stacked" style="min-height: 350px;">
              <li class="active">
              <a href="#/profile/edit">
              <i class="fa fa-user"></i>
              &nbsp;&nbsp;Ustawienia profilu
              </a>
            </li>

            <li>
              <a href="#/profile/change-password">
              <i class="fa fa-lock"></i>
              &nbsp;&nbsp;Zmiana hasła
              </a>
            </li>
          </ul>
        </div> <!-- /.col -->



        <div class="col-md-9 col-sm-8 layout-main">

          <div id="settings-content" class="tab-content stacked-content">

            <div class="tab-pane fade in active" id="profile-tab">

              <h3 class="content-title"><u>Edycja profilu</u></h3>
                <div class="row-fluid" style="min-height: 260px;">
                    <div class="col-md-8" style="padding-left:0;">
                        <div style="margin-bottom: 32px;">
                        <h4 class="text-muted" style="display:inline-block;"><span>Po co podawać dane</span> </h4> <i class="fa fa-question-circle fa-2x text-muted"></i>&nbsp;&nbsp;
                        <h4 class="text-muted" style="display:inline-block"><a data-toggle="popover" title="Po co podawać dane?" data-content="Gorąco zachęcamy do podania informacji o swojej edukacji i pracy.<br />
                        <br />
                        <strong>Dlaczego?</strong> Czy są rzeczy, o których wiesz teraz, a o których chciałbyś wiedzieć, kiedy wybierałeś uczelnię i kierunek studiów, lub kiedy myślałeś o wyborze przyszłego zawodu? Podając te dane dajesz szkole możliwość podjęcia inicjatyw, które ubogacą młodsze pokolenia uczniów i absolwentów V LO.
                        <br />
                        <br />
                        <strong>Mówiąc prosto:</strong> ktoś może zyskać, a Tobie co szkodzi? Wszystkie dane na Portalu są bezpieczne i nikt nie będzie niepotrzebnie zawracał Ci głowy. Obiecujemy.
                        <br />
                        <br />
                        <strong>Dodatkowo</strong> ta fajna duża mapa będzie dzięki Tobie jeszcze fajniejsza!">Kliknij</a>, aby poznać odpowiedź.</h4>
                        </div>

                        <h4 class="content-title"><u>Zdjęcie</u></h4>
                        <div id="photo"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="edit-profile-header"></div>
                    </div>

                </div>

                <div class="row-fluid">
                    <div id="married-name"></div>

                    <h4 class="content-title"><u>Dane kontaktowe</u></h4>

                    <p>Pole ustawione jako <i>publiczne</i> widoczne jest dla wszystkich użytkowników portalu, zaś <i>prywatne</i> jedynie dla dyrekcji szkoły.</p>
                    <hr />
                    <div id="attributes"></div>

                    <h4 class="content-title"><u>Edukacja</u></h4>
                    <div id="universities"></div>
                    <div id="new-university"></div>
                    <a id="add-university" class="btn btn-default"><i class="fa fa-plus-circle"></i> Dodaj uczelnię</a>


                    <h4 style="margin-top: 30px;" class="content-title"><u>Krótki opis</u></h4>
                    <div id="description"></div>

                    <h4 class="content-title"><u>Doświadczenie</u></h4>
                    <div id="employments"></div>
                    <div id="new-employment"></div>
                    <a id="add-employment" class="btn btn-default"><i class="fa fa-plus-circle"></i> Dodaj stanowisko</a>

                </div>
            </div> <!-- /.tab-content -->
          </div>
        </div> <!-- /.col -->
      </div> <!-- /.row -->
