<form>
    <div class="form-group">
        <div class="clearfix">
          <div data-editors="content"></div>
          <div class="pull-right" style="margin-top: 10px;">
            <a class="btn btn-primary save" tabindex="2">Zapisz</a>
            <a class="btn btn-default cancel" style="margin-left: 5px;">Anuluj</a>
          </div>
        </div>
        <div class="form-error content-error"></div>
    </div>
</form>
