<div class="row">
         <div class="profile-avatar">
            {{#if picture }}
            <img src="{{ picture }}" class="profile-avatar-img thumbnail" style="width:256px; height:256px;" alt="Profile Image">
            {{else}}
            <img src="media/unknown.png" class="profile-avatar-img thumbnail" style="width:256px; height: 256px; float: left;" alt="Profile Image">
            {{/if}}
        </div> <!-- /.profile-avatar -->
</div>