<div>
    <div class="row">
        <div class="col-md-4">
            <h5>Nazwa firmy</h5>
            <div data-editors="company.name" style=""></div>
            <h5>Miasto</h5>
            <div data-editors="city.name" style=""></div>
            <h5>Początek</h5>
            <div data-editors="start"></div>
        </div>
        <div class="col-md-4">
            <h5>Stanowisko</h5>
            <div data-editors="name"></div>
            <h5>Branża</h5>
            <div data-editors="branch.name" style=""></div>
            <h5>Koniec</h5>
            <div data-editors="end"></div>
        </div>
    </div>
    <div class="row-fluid">
        <a class="save btn btn-default"><i class="fa fa-check"></i> Zapisz</a>
        <a class="cancel btn btn-default"><i class="fa fa-times"></i> Anuluj</a>
    </div>
    <hr />
</div>