<div>
    <div class="row" style="margin-bottom: 12px;">
        <div class="col-md-4 form-group" style="margin-bottom: 0">
            <h5>Nazwa firmy</h5>
            <div data-editors="company.name" style=""></div>
            <div class="form-error company-name-error"></div>
        </div>
        <div class="col-md-4 form-group" style="margin-bottom: 0">
            <h5>Stanowisko</h5>
            <div data-editors="name"></div>
            <div class="form-error name-error"></div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 12px;">
        <div class="col-md-4 form-group" style="margin-bottom: 0">
            <h5>Miasto</h5>
            <div data-editors="city.name" style=""></div>
            <div class="form-error city-name-error"></div>
        </div>
        <div class="col-md-4 form-group" style="margin-bottom: 0">
            <h5>Branża</h5>
            <div data-editors="branch.name" style=""></div>
            <div class="form-error branch-name-error"></div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 12px;">
        <div class="col-md-4 form-group" style="margin-bottom: 0">
            <h5>Początek</h5>
            <div data-editors="start"></div>
            <div class="form-error start-error"></div>
        </div>
        <div class="col-md-4 form-group" style="margin-bottom: 0">
            <h5>Koniec</h5>
            <div data-editors="end"></div>
            <div class="help-block">
                Jeżeli nadal zajmujesz podane stanowisko, pozostaw to pole puste.
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <a class="save btn btn-default"><i class="fa fa-check"></i> Zapisz</a>
        <a class="cancel btn btn-default"><i class="fa fa-times"></i> Anuluj</a>
    </div>
    <hr />
</div>