<div>
<div class="content" style="padding-bottom: 0">
    <div class="intro" style="padding-bottom: 0">
            <h2>
                Witaj w społeczności absolwentów V Liceum Ogólnokształcącego!
            </h2>

            <h4 class="">Dowiedz się z jakimi miastami powiązani są Twoi dawni znajomi!</h4>

          <div class="counter">

          </div> <!-- /.counter -->
         <div class="row">
             <div id="map"></div>
             <style>
                 #city p {
                     font-size: 14px;
                 }

                 #city h4 {
                     padding: 0;
                     font-style: normal;
                     font-family: Oswald,'Trebuchet MS','Open Sans',arial,sans-serif;
                 }
             </style>
             <div id="city" style="text-align: left;"></div>
         </div>

    </div>
</div>
    <form role="form" class="newsletter" method="post" action="./index.html">
           <a href="#/you" class="btn btn-primary" style="width: 350px">Kontynuuj wprowadzenie</a>
    </form> <!-- /.newsletter-form -->
</div>