<div class="row-fluid" style="min-height: 160px;">
    <h4 class="content-title"><u>Zmiana nazwiska</u></h4>
    <div class="row-fluid" style="margin-bottom: 30px;">
        <div class="col-md-8">
            <h5>Aktualne nazwisko</h5>
            <div data-editors="married_name" style="margin-bottom: 10px;"></div>
            <a class="save btn btn-default"><i class="fa fa-check"></i> Zapisz</a>
            <a class="cancel btn btn-default"><i class="fa fa-times"></i> Anuluj</a>
        </div>
    </div>
</div>