<div style="margin-bottom: 20px;">
    <form enctype="multipart/form-data">
        <input type="file" style="display: inline-block; float:left" />
        <a class="upload btn btn-primary">Ustaw</a>
        {{#if picture }}
            <a class="remove btn btn-default">Usuń aktualne</a>
        {{/if}}
    </form>
</div>