 <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-5"></div> <!-- /.col -->
        <div class="col-md-6 col-sm-7">
            <style>
              .feed-item {
                padding-left: 0;
                margin-left: 0;
                border-left: 0;
              }

              .feed-item img {
                float: left;
              }

              .feed-item a {
                float: left;
              }

              .feed-subject {
                 height: 50px;
              }

              .feed-subject a {
                  font-size: 15px;
              }

              .feed-item .feed-content {
                  margin-top: 10px;
                  padding-left: 0;
                  margin-left: 0;
              }

              .feed-item  a.feed-control {
                  font-size: 13px;
                  color: #999;
                  text-decoration: none;
              }

              .feed-item a.feed-control:hover {
                  text-decoration: none;
                  color: #d74b4b;
              }
            </style>
          <h4 class="content-title"><u>Aktualności</u></h4>
          <div id="new-post-form"></div>
          <div id="post-container"></div>
        </div>
        <div class="col-md-3"></div>
     </div>
 </div>