<form>
    <div class="form-group">
        <div class="share-widget clearfix">
          <div data-editors="content"></div>
          <div class="share-widget-actions">
            <div class="share-widget-types pull-left">
              <!--<a href="javascript:;" class="fa fa-picture-o ui-tooltip" title="Post an Image"><i></i></a>-->
              <!--<a href="javascript:;" class="fa fa-video-camera ui-tooltip" title="Upload a Video"><i></i></a>-->
              <!--<a href="javascript:;" class="fa fa-lightbulb-o ui-tooltip" title="Post an Idea"><i></i></a>-->
              <!--<a href="javascript:;" class="fa fa-question-circle ui-tooltip" title="Ask a Question"><i></i></a>-->
            </div>

          <div class="pull-right">
            <a class="btn btn-primary btn-sm save" tabindex="2">Opublikuj</a>
          </div>

          </div> <!-- /.share-widget-actions -->
        </div>
        <div class="form-error content-error"></div>
    </div>
</form>
