<div class="form-group">
  <input type="text" class="form-control" placeholder="Szukaj osoby" style="width: 300px">
  <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
</div>