<div>
    <div class="form-group">
        <label for="content">Wiadomość</label>
        <div data-editors="content" style="margin-bottom: 10px;"></div>
        <div class="form-error content-error"></div>
        <div class="help-block">
            Twoja wiadomość zostanie przekazana bezpośrednio do naszego zespołu.
            W przypadku pytań możesz liczyć na naszą odpowiedź!
        </div>
    </div>
    <div class="form-group">
        <a class="send btn btn-primary"><i class="fa fa-envelope"></i> Wyślij</a>
    </div>
</div>