<div>
    <div class="row">
        <div class="col-md-4">
            <h5>Uczelnia</h5>
            <div data-editors="university.name" style=""></div>
            <h5>Kierunek</h5>
            <div data-editors="school" style=""></div>
            <h5>Początek</h5>
            <div data-editors="start"></div>
        </div>
        <div class="col-md-4">
            <h5>Miasto</h5>
            <div data-editors="university.city.name"></div>
            <h5>Wydział</h5>
            <div data-editors="department.name"></div>
            <h5>Koniec</h5>
            <div data-editors="end"></div>
        </div>
    </div>
    <div class="row-fluid">
        <a class="save btn btn-default"><i class="fa fa-check"></i> Zapisz</a>
        <a class="back btn btn-default"><i class="fa fa-backward"></i> Powrót do listy uczelni</a>
        <a class="cancel btn btn-default"><i class="fa fa-times"></i> Anuluj</a>
    </div>
    <hr />
</div>